<section class="bottom">
<div class="container">
 <br><br> <br><br>
<div id="container">
    <img src="./img/susreservas.png" alt="" />
</div>
  <div class="row">
    <div ng-repeat="reserva in listaReservas" class="col-md-4">
      <md-card>
        <div flex-gt-sm="33" layout-align="center center" layout="column">
          <jk-carousel
            data="reserva.fotosArray"
            item-template-url="'./vistas/inmueble/item-template.html'"
            auto-slide="true" 
            auto-slide-time="3000"
            max-width="800" 
            max-height="500" >
          </jk-carousel>
        </div>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{reserva.nombre}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>Ubicaci&oacute;n:{{reserva.direccion}} {{reserva.altura}}</p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="center">
          <md-card-icon-actions>
            <md-button class="md-fab" md-colors="{background: 'RED'}" ng-click="mostrarMapaModal(reserva)" data-toggle="modal" data-target="#myModal">
              <md-icon md-svg-icon="img/icons/map.svg"></md-icon>
            </md-button>
          </md-card-icon-actions>
        </md-card-actions>
      </md-card>
    </div>   
  </div>
</div>  

  <!-- MapaModal -->
<div class="container">
    <!--div class="modal modal-fullscreen fade" id="myModal" role="dialog"-->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{ModalHeader}}</h4>
          </div>
          <div class="modal-body">    
            <ng-map center="{{mapa.latitud}}, {{mapa.longitud}}" ng-model="miMapa" id="miMapaModal">

        </ng-map>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- fin MapaModal -->
  
<br><br><br><br><br><br><br><br><br><br><br><br><br>
</section>