<div class="container">
    
    <br><br><br><br>
  
  <form class="form-horizontal" id="formAltaUsuario" name="formAltaUsuario">
    <div class="form-group" show-errors>
      <label class="control-label col-sm-3" for="nombre">Nombre:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="nombre" name="nombre" ng-model="usuario.nombre" placeholder="Ingrese Nombre" required>
        <p class="help-block" ng-if="formAltaUsuario.nombre.$error.required">Debe ingresar el Nombre</p>
      </div>
    </div>
    <div class="form-group" show-errors>
      <label class="control-label col-sm-3" for="apellido">Apellido:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="apellido" name="apellido" ng-model="usuario.apellido" placeholder="Ingrese Apellido" required>
        <p class="help-block" ng-if="formAltaUsuario.apellido.$error.required">Debe ingresar el Apellido</p>
      </div>
    </div>
    <div class="form-group" show-errors>
      <label class="control-label col-sm-3" for="telefono">Tel:</label>
      <div class="col-sm-6">
        <input type="number" class="form-control" id="telefono" name="telefono"ng-model="usuario.telefono" placeholder="Telefono" required>
        <p class="help-block" ng-if="formAltaUsuario.telefono.$error.required">Debe ingresar el Telefono</p>
      </div>
    </div>
    <div class="form-group" show-errors>
      <label class="control-label col-sm-3" for="email">Email:</label>
      <div class="col-sm-6">
        <input type="email" class="form-control" id="email" name="email" ng-model="usuario.email" placeholder="Email" required>
        <p class="help-block" ng-if="formAltaUsuario.email.$error.required">Debe ingresar el Email</p>
        <p class="help-block" ng-if="formAltaUsuario.email.$error.email">El Email ingresado no es válido</p>
      </div>
    </div>
    <div class="form-group" show-errors>
      <label class="control-label col-sm-3" for="password">Password:</label>
      <div class="col-sm-6">
        <input type="password" class="form-control" id="password" name="password" ng-model="usuario.password" placeholder="Ingrese Password" required>
        <p class="help-block" ng-if="formAltaUsuario.password.$error.required">Debe ingresar el Password</p>
      </div>
    </div>
    <div class="form-group" show-errors>
      <label class="control-label col-sm-3" for="password2">Password:</label>
      <div class="col-sm-6">
        <input type="password" class="form-control" id="password2" name="password2" ng-model="usuario.password2" placeholder="Repetir Password" required>
        <p class="help-block" ng-if="formAltaUsuario.password2.$error.required">Debe ingresar el Password</p>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="perfil">Perfil:</label>
      <div class="col-sm-6">
        <select class="form-control" ng-model="usuario.perfil">
          <option disabled selected value>Seleccione el Perfil</option>
          <option value="encargado">Encargado</option>
          <option value="empleado">Empleado</option>
          <option value="cliente">Cliente</option>
          <option value="administrador">Administrador</option>
        </select>
      </div>
    </div>
    <div class="form-group">
     <label class="control-label col-sm-3" for="sucursal">Sucursal Asignada:</label>
      <div class="col-sm-6">
       <select  class="form-control" id="selEncargado" ng-model="usuario.idLocal">
       <option disabled selected value>Seleccione Sucursal</option>
        <option ng-repeat="sucursal in listaSucursales" value="{{sucursal.id}}">
            {{sucursal.nombre}}
        </option>
       </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-6">
        <button ng-click="CrearUsuario()" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-ok"></span> Crear Usuario</button>
      </div>
    </div>
  </form>
</div>

      