<div class="container"> 
<br><br><br><br><br>

 <md-content class="md-padding" >

      <md-card layout="row"
             layout-sm="column" ng-repeat="inmueble in listaInmuebles | startFrom:currentPage*pageSize | limitTo:pageSize"> 
             <div flex-gt-sm="33"
           layout-align="center center"
           layout="column">
        <jk-carousel
		        data="inmueble.fotosArray"
		        item-template-url="'./vistas/inmueble/item-template.html'"
		        auto-slide="true" 
		        auto-slide-time="3000"
		        max-width="800" 
		        max-height="500" >
	        </jk-carousel>
	        </div>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{inmueble.tipo}} {{inmueble.ambientes}} ambientes {{inmueble.oferta}} {{inmueble.precio}}$</span>
          </md-card-title-text>
        </md-card-title>
           <div layout="column" flex>
        <md-card-content flex>
          <p>
            {{inmueble.descripcion}}
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="send-button md-accent md-raised">Action 1</md-button>
          <md-button class="send-button md-accent md-raised">Action 2</md-button>
        </md-card-actions>
         </div>
      </md-card>
   
  </md-content>

<center>
  <md-button class="send-button md-primary md-raised" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
        << Previous
    </md-button>
    {{currentPage+1}}/{{numberOfPages()}}
    <md-button class="send-button md-primary md-raised" ng-disabled="currentPage >= listaInmuebles.length/pageSize - 1" ng-click="currentPage=currentPage+1">
        Next >>
    </md-button>
    </center>
</div>