<div class="container"> 
<br><br><br><br><br>
<div id="divAnimation">
 <md-content class="md-padding" >
      <md-card ng-class="{'Frm animated bounceInLeft' : $index %2 == 0, 'Frm animated bounceInRight' : $index %2 != 0}" layout="row" layout-sm="column" ng-repeat="inmueble in listaInmuebles | startFrom:currentPage*pageSize | limitTo:pageSize"> 
          <div flex-gt-sm="33" layout-align="center center" layout="column">
        	<jk-carousel
		        data="inmueble.fotosArray"
		        item-template-url="'./vistas/inmueble/item-template.html'"
		        auto-slide="true" 
		        auto-slide-time="3000"
		        max-width="800" 
		        max-height="500" >
	        </jk-carousel>
	      </div>
       <div layout="column" flex>
        <md-card-content flex>
   			<h2 class="md-title text-success">{{inmueble.tipo}} {{inmueble.ambientes}} ambientes {{inmueble.oferta}} {{inmueble.precio}}$</h2>
          <p class="text-success">
            {{inmueble.descripcion}}
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-click="showConfirm($event, inmueble)" class="send-button md-accent md-raised">{{inmueble.oferta=='Venta' ? 'COMPRAR' : 'ALQUILAR'}}</md-button>
          <md-button ng-click="mostrarMapaModal(inmueble)" data-toggle="modal" data-target="#myModal" class="send-button md-accent md-raised">MAPA</md-button>
        </md-card-actions>
       </div>
      </md-card>
  </md-content>
<center>
  <md-button class="send-button md-primary md-raised" ng-disabled="currentPage == 0" ng-click="backPage()">
        << Previous
    </md-button>
    {{currentPage+1}}/{{numberOfPages()}}
    <md-button class="send-button md-primary md-raised" ng-disabled="currentPage >= listaInmuebles.length/pageSize - 1" ng-click="nextPage()">
        Next >>
    </md-button>
    </center>
</div>
</div>

   <!-- MapaModal -->
<div class="container">
    <!--div class="modal modal-fullscreen fade" id="myModal" role="dialog"-->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{ModalHeader}}</h4>
          </div>
          <div class="modal-body">    
            <ng-map center="{{mapa.latitud}}, {{mapa.longitud}}" ng-model="miMapa" id="miMapaModal">

        </ng-map>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- fin MapaModal -->

<!-- Modal Loading -->
<div class="modal fade" id="cargandoCatalogoModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top: 15%; overflow-y: visible; display: none;"><div class="modal-dialog modal-m">
<div class="modal-content">
<div class="modal-header">
<h3 style="margin:0;">Cargando Catálogo...</h3>
</div><div class="modal-body">
<div class="progress progress-striped active" style="margin-bottom:0;">
<div class="progress-bar progress-bar-success" style="width: 100%">
</div></div></div></div></div></div>
</div>

<br><br><br><br><br><br><br>