<section>
<div class="container">
	<br><br><br><br><br><br>
	<div class="row">
		<div class="col-md-3">
			<button class="btn btn-default orange-circle-button " ng-click="NuestrasScursales()">Nuestras<br />Sucursales<br /><span class="orange-circle-greater-than">></span></button>
		</div>   
		<div class="col-md-3">
			<button class="btn btn-default green-circle-button " ng-click="MostrarTodasLasOfertas()">Todas las<br/>Ofertas<br/><span class="orange-circle-greater-than">></span></button>
		</div>  
		<div class="col-md-3">
			<button class="btn btn-default purple-circle-button " ng-click="MostrarMisReservas()">Mis<br />Reservas<br /><span class="orange-circle-greater-than">></span></button>
		</div>  
		<div class="col-md-3">
			<button class="btn btn-default indigo-circle-button " ng-click="openNav()">Quienes<br />Somos<br /><span class="orange-circle-greater-than">></span></button>
		</div>
	</div>

	<!-- Modal -->
	<div id="modalSesionAgotada" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Sesion Agotada!</h4>
				</div>
				<div class="modal-body">
					<p>Ya no se encuentra logueado en el sistema.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="reload()">Aceptar</button>
				</div>
			</div>
		</div>
	</div>

	<div id="myNav" class="overlay">
		<a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a>
		<div class="overlay-content">
			<h2 style="color:white">En El Campito nos dedicamos a los negocios inmobiliarios desde 1995. M&aacute;s de 20 a&ntilde;os de experiencia ayudando a la gente a encontrar el hogar de sus sue&ntilde;os nos avalan. Contamos con mas de 100 sucursales en todo el pa&iacute;s y planeamos expandirnos en todo latinoam&eacute;rica.</h2>
		</div>
	</div>

</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</section>