<div class="container">
    
    <br><br><br><br>

<form class="form-horizontal" ng-if="mostrarSelect != 'NoMostrar'">
	<div class="form-group">
	    <div class="col-lg-6" ng-if="mostrarSelect == 'Sucursales'">
	    <label class="control-label col-sm-3" for="sucursal">Sucursal:</label>
	        <div class="input-group my-group"> 

	           <select  class="form-control" id="selSucursal" ng-model="idSucursal">
	                        <option disabled selected value>Seleccione Sucursal</option>
			        <option ng-repeat="sucursal in listaSucursales" value="{{sucursal.id}}">
			            {{sucursal.nombre}}
			        </option>
	            </select> 
	            <span class="input-group-btn">
			      	<button class="btn btn-primary btn-default pull-left" ng-click="ventasPorEmpleado(idSucursal)" type="submit">CARGAR</button>
			    </span>
	        </div>
	    </div>

	    <div class="col-lg-6" ng-if="mostrarSelect == 'Usuarios'">
	    <label class="control-label col-sm-3" for="sucursal">Usuario:</label>
	        <div class="input-group my-group"> 

	           <select  class="form-control" id="selPersona" ng-model="idPersona">
	                        <option disabled selected value>Seleccione Usuario</option>
			        <option ng-repeat="persona in listaPersonas" value="{{persona.id}}">
			            {{persona.nombre}} {{persona.apellido}}
			        </option>
	            </select> 
	            <span class="input-group-btn">
			      	<button class="btn btn-primary btn-default pull-left" ng-click="loginsPorUsuario(idPersona)" type="submit">CARGAR</button>
			    </span>
	        </div>
	    </div>

	</div>
</form>


<md-card>
<div id="miGrafico"></div>

</md-card>

</div>