<section>
<div class="container">
    
    <br><br><br><br>

<form class="form-horizontal" ng-if="mostrarSelect != 'NoMostrar'">
	<div class="form-group">
	    <div class="col-lg-6" ng-if="mostrarSelect == 'Sucursales'">
	    <label class="control-label col-sm-3" for="sucursal">Sucursal:</label>
	        <div class="input-group my-group"> 

	           <select  class="form-control" id="selSucursal" ng-model="idSucursal">
	                        <option disabled selected value>Seleccione Sucursal</option>
			        <option ng-repeat="sucursal in listaSucursales" value="{{sucursal.id}}">
			            {{sucursal.nombre}}
			        </option>
	            </select> 
	            <span class="input-group-btn">
			      	<button class="btn btn-primary btn-default pull-left" ng-click="ventasPorEmpleado(idSucursal)" type="submit">CARGAR</button>
			    </span>
	        </div>
	    </div>

	    <div class="col-lg-6" ng-if="mostrarSelect == 'Usuarios'">
	    <label class="control-label col-sm-3" for="sucursal">Usuario:</label>
	        <div class="input-group my-group"> 

	           <select  class="form-control" id="selPersona" ng-model="idPersona">
	                        <option disabled selected value>Seleccione Usuario</option>
			        <option ng-repeat="persona in listaPersonas" value="{{persona.id}}">
			            {{persona.nombre}} {{persona.apellido}}
			        </option>
	            </select> 
	            <span class="input-group-btn">
			      	<button class="btn btn-primary btn-default pull-left" ng-click="loginsPorUsuario(idPersona)" type="submit">CARGAR</button>
			    </span>
	        </div>
	    </div>
	</div>
</form>


<div layout="column" layout-fill>
    <md-toolbar layout="row" layout-align="center">
        <div class="md-toolbar-tools" flex-gt-md="60" flex-md="80" flex-sm="100">
            <span>Reporte de {{tipoDeReporte}}</span>
            <span flex></span>
        </div>
    </md-toolbar>
    <div id="miGrafico"></div>
    </div>


<div layout="column" layout-fill ng-if="mostrarSelect == 'Usuarios' && mostrarGrilla == 'S'">
    <md-content layout-padding layout="row" layout-align="center">
        <div flex-gt-md="60" flex-md="80" flex-xs="100">
            <div>
                <h4>Listado de Ingresos al Sistema</h4>
            </div>
            <hr>
            
            <div grid-data id='test' grid-options="gridOptions" grid-actions="gridActions">

                    <div flex-gt-sm="25" flex-sm="100" layout="row" layout-align="start center">
                        <span>Total de registros: {{filtered.length}}</span>
                    </div>
                    <div flex-gt-sm="75" flex-xs="100">
                        <div layout-xs="column" layout="row" layout-align-xs="end end" layout-align="end center">
                            <grid-pagination max-size="5"
                                             boundary-links="true"
                                             class="pagination mdl-shadow--2dp"
                                             ng-if="paginationOptions.totalItems  > paginationOptions.itemsPerPage"
                                             total-items="paginationOptions.totalItems"
                                             ng-model="paginationOptions.currentPage"
                                             ng-change="reloadGrid()"
                                             items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                            <md-input-container flex-offset-gt-xs="5" class="items-per-page">
                                <md-select ng-init="paginationOptions.itemsPerPage = '10'" placeholder="Filas" ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()">
                                    <md-option>10</md-option>
                                    <md-option>25</md-option>
                                    <md-option>50</md-option>
                                    <md-option>75</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>
                </div>
                <div>
                    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                        <thead>
                        <tr>
                            <th sortable="code" class="sortable mdl-data-table__cell--non-numeric">
                                <span>Id #</span>
                            </th>
                            <th sortable="placed" class="sortable">
                                <span>Nombre</span>
                            </th>
                            <th sortable='total.value' class="sortable">
                                <span>Apellido</span>
                            </th>
                            <th sortable="placed" class="sortable">
                                <span>Fecha_Login</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr grid-item>
                            <td class="mdl-data-table__cell--non-numeric">
                                <span ng-bind="item.id"></span>
                            </td>
                            <td ng-bind="item.nombre"></td>
                            <td ng-bind="item.apellido"></td>
                            <td ng-bind="item.fecha"></td>
                        </tr>
                        </tbody>
                    </table>
                </div> 
        </div>
    </md-content>
</div>


</div>

</section>