<div class="container">
    
    <br><br><br><br>
  
  <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-2" for="nombre">Nombre:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="nombre" ng-model="sucursal.nombre" placeholder="Ingrese Nombre">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="direccion">Dirección:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="direccion" ng-model="sucursal.direccion" placeholder="Ingrese Dirección">
      </div>
    </div>

    Agregar 3 fotos de la sucursal:
    <div nv-file-drop="" uploader="subidorDeArchivos">
        <div nv-file-over="" uploader="subidorDeArchivos" over-class="another-file-over-class" class="well my-drop-zone">
            <center>Arrastre las fotos aquí</center>
        </div>
    </div>

    <p>Cantidad de fotos agregadas: {{ subidorDeArchivos.queue.length }}</p>

<table class='table table-hover table-responsive' align="center">
    <thead>
        <tr>
            <th >Name</th>
            <th ng-show="subidorDeArchivos.isHTML5">Size</th>
            <th ng-show="subidorDeArchivos.isHTML5">Progress</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in subidorDeArchivos.queue">
            <td>
              <div ng-show="subidorDeArchivos.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
            </td>
            <td ng-show="subidorDeArchivos.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
            <td ng-show="subidorDeArchivos.isHTML5">
                <div class="progress" style="margin-bottom: 0;">
                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                </div>
            </td>
            <td class="text-center">
                <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
            </td>
            <td nowrap>
                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                    <span class="glyphicon glyphicon-upload"></span> Subir
                </button>
                <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancelar
                </button>
                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                    <span class="glyphicon glyphicon-trash"></span> Remover
                </button>
            </td>
        </tr>
    </tbody>
</table>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button ng-click="AltaSucursal()" class="btn btn-default">Crear</button>
      </div>
    </div>
  </form>
</div>